/* * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    width: 100vw;
}

@media screen and (min-width: 1200px) {
    .container-body {
        display: flex;
        height:92vh;
    }
    
    .container-body--filter {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        background: #D8F3DC;
        color: #184E77;
    }
    
    .container-body--chart {
        display: flex;
        flex-direction: column;
        flex-grow: 4;
        row-gap: 16px;
    }
    
    .container-body--card {
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
        column-gap: 16px;
        height: 18vh;
    }
    
    .container-card {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        align-items: center;
        background: #184E77;
        height: 100%;
        color: #FFFF3F;
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    }
    
    .container-chart {
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 16px 16px;
    }
    
    .container-chart--row {
        display: flex;
        flex-grow: 1;
        height: 50%;
        justify-content: center;
        align-items: center;
        column-gap: 16px;
    }
    
    .container-graph {
        display: flex;
        height: 100%;
        width: 50%;
        justify-content: center;
        align-items: center;
        background: #34A0A4;
        color: #FFFF3F;
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    }
}

@media screen and (max-width: 480px) {
    .container-body {
        display: flex;
        height:92vh;
        margin: 4px;
    }
    
    .container-body--filter {
        display: none;
    }
    
    .container-body--chart {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        row-gap: 8px;
    }
    
    .container-body--card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 8px;
        background: #FFFF3F;
    }
    
    .container-card {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        align-items: center;
        background: #184E77;
        color: #FFFF3F;
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    }
    
    .container-chart {
        display: flex;
        flex-direction: column;
        height: 100%;
        row-gap: 8px;
    }
    
    .container-chart--row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        row-gap: 8px;
    }
    
    .container-graph {
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        background: #34A0A4;
        color: #FFFF3F;
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    }
} */